<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
      <p id="notice" class="alert-success notice-style"><%= notice %></p>
    <% end %>
    <div class="card card-5 form-border-style">
      <div class="card-heading bg-clr text-white">
        <h4 class="text-center font-weight-light">Prescription</h4>
      </div>
      <div class="card-body" style="padding-bottom: 0px;">
        <%= form_with(model: product_sub_category, local: true) do |form| %>
          <% if product_sub_category.errors.any? %>
            <%= render 'layouts/error_messages', object: form.object %>
          <% end %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">
                <div class="form-row">
                  <%= form.label :Medicine, :class => "mb-1 pt-1 name", :style => 'font-weight:bold; margin-left: -12px;' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.select :product_id, options_for_select(Product.all.map { |c| [c.name] }), {}, {class: "form-control selectpicker medicine", data: {"live-search": true}, :required => true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :type, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :type, :class => "form-control py-1", :style => 'margin-left: -40px;', id: 'dose_quantity', :required => true %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.number_field :quantity, id: 'med_quantity', :class => "form-control py-1", :required => true, min: 1 %>
                      <b><span class="errmsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <h3>Set Schedule</h3>
          <div class="col-md-12">
            <div class="row pt-4">
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :day_time, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.select :day_time, options_for_select([['Morning'], ['Noon'], ['Evening']]), {}, {class: "form-control selectpicker d_time", data: {"live-search": true}, :required => true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :dose_quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :quantity, :class => "form-control py-1", id: 'dose_quantity', :required => true %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :comment, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :comment, :class => "form-control py-1", id: 'comment', :required => true, min: 1 %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 morning">
                <div class="form-row">

                  <i style="font-size:30px; color: green;" onclick="noon();" class="fa">&#xf067;</i>

                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 noon_time" hidden>
            <div class="row pt-4">
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :day_time, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.select :day_time, options_for_select([['Morning'], ['Noon'], ['Evening']]), {}, {class: "form-control selectpicker d_time_2nd", data: {"live-search": true}, :required => true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :dose_quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :quantity, :class => "form-control py-1", id: 'dose_quantity_2nd', :required => true %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :comment, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :comment, :class => "form-control py-1", id: 'comment_2nd', :required => true, min: 1 %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 noon">
                <div class="form-row">
                  <i style="font-size:30px; color: green;" onclick="evening()" class="fa evening">&#xf067;</i>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 evening_time" hidden>
            <div class="row pt-4">
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :day_time, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.select :day_time, options_for_select([['Morning'], ['Noon'], ['Evening']]), {}, {class: "form-control selectpicker d_time_3rd", data: {"live-search": true}, :required => true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :dose_quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :quantity, :class => "form-control py-1", id: 'dose_quantity_3rd', :required => true %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :comment, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :comment, :class => "form-control py-1", id: 'comment_3rd', :required => true, min: 1 %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>


          <div class="form-row m-b-55">
            <div class="name ">Medicine Date</div>
            <div class="value">
              <div class="row row-refine">
                <div class="col-5">
                  <div class="input-group-desc">
                    <%= form.text_field :start_date, :class => 'start-date form-control py-2', id: 'start-date', 'placeholder' => "dd-mm-yyyy", :required => true %>
                    <label class="label--desc">Start Date</label>
                  </div>
                </div>
                <div class="col-2 pt-3">
                  <center> To</center>
                </div>
                <div class="col-5">
                  <div class="input-group-desc">
                    <%= form.text_field :end_date, :class => 'end-date form-control py-2', id: 'end-date', 'placeholder' => "dd-mm-yyyy", :required => true %>
                    <%= form.label :end_date, :class => "label--desc" %>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <hr>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3 ml-5">
              <div class="form-group mt-3 mb-0">
                <div class="actions">
                  <button type="button" class="btn w-100 bg-clr btn-style req-btn">Add Medicine</button>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header"><i class="fas fa-table mr-1"></i>Prescription Medicine</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Medicine Quantity</th>
              <th>Day Time</th>
              <th>Dose</th>
              <th>Comment</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
          <center>
            <button type="button" class="btn w-25 bg-clr btn-style" onclick="send_request();">Send Request</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function noon() {
        $('.noon_time').removeAttr('hidden');
        $('.morning').hide();
    }

    function evening() {
        $('.evening_time').removeAttr('hidden');
        $('.noon').hide();
    }

    var meds = [];
    $(document).ready(function () {
        $(".req-btn").click(function () {
            medicine = $(".medicine option:selected").val();
            medicine_quantity = $('#med_quantity').val();
            day_time = $(".d_time option:selected").val();
            day_time_sec = $(".d_time_2nd option:selected").val();
            day_time_third = $(".d_time_3rd option:selected").val();
            dose_quantity = $('#dose_quantity').val();
            dose_quantity_sec = $('#dose_quantity_2nd').val();
            dose_quantity_third = $('#dose_quantity_3rd').val();
            comment = $('#comment').val();
            comment_sec = $('#comment_2nd').val();
            comment_third = $('#comment_3rd').val();
            start_date = $('#start-date').val();
            end_date = $('#end-date').val();

            if (medicine == "") {
                alert('Please select medicine.');
                return false;
            }
            if (medicine_quantity == "") {
                alert('Please select medicine quantity.');
                return false;
            }
            if (day_time == "") {
                alert('Please select medicine time.');
                return false;
            }
            if (dose_quantity == "") {
                alert('Please write dose quantity.');
                return false;
            }
            if (comment == "") {
                alert('Please write dose information.');
                return false;
            }
            if (start_date == "") {
                alert('Please select start date.');
                return false;
            }
            if (end_date == "") {
                alert('Please select end date.');
                return false;
            }
            localStorage.setItem("medicine_name", medicine);
            localStorage.setItem("med_quantity", medicine_quantity);
            localStorage.setItem("day_timee", day_time);
            localStorage.setItem("day_timee_sec", day_time_sec);
            localStorage.setItem("day_timee_third", day_time_third);
            localStorage.setItem("dose_quantityy", dose_quantity);
            localStorage.setItem("dose_quantityy_sec", dose_quantity_sec);
            localStorage.setItem("dose_quantityy_third", dose_quantity_third);
            localStorage.setItem("commentt", comment);
            localStorage.setItem("commentt_sec", comment_sec);
            localStorage.setItem("commentt_third", comment_third);
            localStorage.setItem("start_datee", start_date);
            localStorage.setItem("end_datee", end_date);
            med_name = localStorage.getItem("medicine_name");
            med_q = localStorage.getItem("med_quantity");
            med_time = localStorage.getItem("day_timee");
            med_time_noon = localStorage.getItem("day_timee_sec");
            med_time_eve = localStorage.getItem("day_timee_third");
            med_dose = localStorage.getItem("dose_quantityy");
            med_dose_noon = localStorage.getItem("dose_quantityy_sec");
            med_dose_eve = localStorage.getItem("dose_quantityy_third");
            med_comment = localStorage.getItem("commentt");
            med_comment_noon = localStorage.getItem("commentt_sec");
            med_comment_eve_ = localStorage.getItem("commentt_third");
            med_d = localStorage.getItem("start_datee");
            med_e = localStorage.getItem("end_datee");
            var medicine_detail = {
                med_name: med_name,
                med_quantity: med_q,
                med_time_morning: med_time,
                med_dose_morning: med_dose,
                med_comment_morning: med_comment,
                med_time_noon: med_time_noon,
                med_dose_noon: med_dose_noon,
                med_comment_noon: med_comment_noon,
                med_time_eveving: med_time_eve,
                med_dose_evening: med_dose_eve,
                med_comment_evening: med_comment_eve_,
                med_start_date: med_d,
                med_end_date: med_e

            }
            meds.push(medicine_detail);
            dataTable.row.add([
                medicine,
                medicine_quantity,
                day_time,
                dose_quantity,
                comment,
                start_date,
                end_date
            ]).draw(false);
        });
        $(function () {
            $('#start-date').datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true
            });
            $('#end-date').datepicker({
                format: 'yyyy-mm-dd',
            });
        });
    });

    function send_request() {
        console.log(meds)
        debugger
        $.ajax({
            type: 'POST',
            url: '/users',
            data: {
                meds
            },
            cache: false,
            success: function () {
            }
        });
    }

    $('select').selectpicker();
    $("#med_quantity").keydown(function (e) {
        if (e.which == 8) {
            $(".errmsg").hide();
        }
    });
    $("#med_quantity").keypress(function (e) {
        //if not numeric, then it don't let you type space=32,+=43,-=45,backsp=8,enter=13
        if (e.which == 45) {
            //display error message
            $(".errmsg").html("Value cannot be negative.").show();
            e.preventDefault();
        } else {
            $(".errmsg").hide();
        }
    });
    $("#dose_quantity").keydown(function (e) {
        if (e.which == 8) {
            $(".errormsg").hide();
        }
    });
    $("#dose_quantity").keypress(function (e) {
        //if not numeric, then it don't let you type space=32,+=43,-=45,backsp=8,enter=13
        if (e.which == 45) {
            //display error message
            $(".errormsg").html("Value cannot be negative.").show();
            e.preventDefault();
        } else {
            $(".errormsg").hide();
        }
    });
</script>