<%= form_with(model: product_sub_category, local: true) do |form| %>
  <% if product_sub_category.errors.any? %>
  <%= render 'layouts/error_messages', object: form.object %>
  <% end %>

  <div class="form-row">
    <%= form.label :product_category, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <%= form.select :category_id, options_for_select(ProductCategory.all.map { |c| [c.name, c.id] }), {}, {class: "form-control selectpicker", data: {"live-search": true}} %>
      </div>
    </div>
  </div>


  <div class="form-row">
    <%= form.label :products, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">

        <%= form.select :product_id, options_for_select(Product.all.map { |c| [c.name, c.id] }), {}, {class: "form-control selectpicker", data: {"live-search": true}, multiple: true} %>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= form.submit 'Save', :class => 'btn w-100 bg-clr btn-style' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= link_to "Cancel", product_sub_categories_path, :class => 'btn w-100 bg-clr btn-style' %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').selectpicker();
    });
</script>