<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-3">Product Sub Categories</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Add New Product Sub Category", new_product_sub_category_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header"><i class="fas fa-table mr-1"></i>Product Sub Categories</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Category</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @product_sub_categories.each do |product_sub_category| %>
                  <tr>
                    <td><%= product_sub_category.product.name %></td>
                    <td><%= product_sub_category.product_category.name rescue "N/A" %></td>
                    <td>
                      <%= link_to "View", product_sub_category_path(product_sub_category), :class => "btn btn-outline-dark" %>
                      <%= link_to "Edit", edit_product_sub_category_path(product_sub_category), :class => "btn btn-outline-info"  %>
                      <%= link_to 'Destroy', product_sub_category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
    var dataTable = $('#dataTable').DataTable({
    });
    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>