<%= form_with(model: @user, local: true) do |form| %>
  <%#= render 'layouts/error_messages', object: form.object %>


  <% if params[:action].eql?("new") %>



    <div class="form-row">

      <%= form.label :username, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
          <%= form.text_field :user_name, :class => "form-control py-2", :required => true %>
        </div>
      </div>
    </div>


    <div class="form-row">
      <%= form.label :email, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
          <% if params[:action].eql?("edit") %>
            <%= form.email_field :email, validate: true, :class => "form-control py-2", :disabled => true %>
          <% else %>
            <%= form.email_field :email, validate: true, :class => "form-control py-2", :required => true %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= form.label :phone, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
            <%= form.text_field :phone, validate: true, :class => "form-control py-2", :required => true %>
        </div>
      </div>
    </div>
    <div class="form-row">

      <%= form.label :address, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
          <%= form.text_field :address, :class => "form-control py-2", :required => true %>
        </div>
      </div>
    </div>

    <div class="form-row">

      <%= form.label :password, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
          <% if params[:action].eql?("edit") %>
            <%= form.password_field :password, validate: true, :class => "form-control py-2" %>
          <% else %>
            <%= form.password_field :password, validate: true, :class => "form-control py-2" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= form.label :password_confirmation, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
      <div class="value">
        <div class="input-group">
          <% if params[:action].eql?("edit") %>
            <%= form.password_field :password_confirmation, :class => "form-control py-2" %>
          <% else %>
            <%= form.password_field :password_confirmation, :class => "form-control py-2" %>
          <% end %>
        </div>
      </div>
    </div>






  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= form.submit 'Save', :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= link_to "Cancel", users_path, :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
