<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <div class="page-wrapper pt-0 p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5 form-border-style">
          <div class="card-heading bg-clr">
            <h4 class="text-center font-weight-light text-white">Create User</h4>
          </div>
          <div class="card-body">
            <%= form_with(model: @user, local: true) do |form| %>
              <%= render 'layouts/error_messages', object: form.object %>

              <div class="form-row">
                <%= form.label :username, "Full Name", :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <%= form.text_field :full_name, :class => "form-control py-2" %>

                  </div>
                </div>
              </div>


              <div class="form-row">
                <%= form.label :phone, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <%= form.text_field :phone, :class => "form-control py-2" %>

                  </div>
                </div>
              </div>


              <div class="form-row">
                <%= form.label :email, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <%= form.email_field :email, validate: true, :class => "form-control py-2", :required => true %>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <%= form.label :gender, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <select name="user[gender]" id="gender" class="form-control">
                      <option value="<%= User.genders[@user.gender] rescue nil %>">
                        <%= @user.gender rescue nil %>
                        <% User.genders.reject {|status| status == @user.gender}.each do |key, value| %>
                        <option value="<%= value %>">
                          <%= key %>
                        </option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>


              <div class="form-row">
                <%= form.label :password, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <%= form.password_field :password, :class => "form-control py-2", :required => true %>
                  </div>
                </div>
              </div>


              <div class="form-row">
                <%= form.label :password_confirmation, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
                <div class="value">
                  <div class="input-group">
                    <%= form.password_field :password_confirmation, :class => "form-control py-2", :required => true %>
                  </div>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= form.submit 'Save', :class => 'btn btn-style bg-clr w-100' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to "Cancel", users_path, :class => 'btn btn-style bg-clr w-100' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>