<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
    <p id="notice" class="alert-success notice-style"><%= notice %></p>
      <% end %>
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5 form-border-style ">
          <div class="card-heading bg-clr">
            <h4 class="text-center font-weight-light text-white">
             <%= @user.username %>
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <strong>Client Company:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.client_company.company_name rescue "N/A" %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>User Name:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.username %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>Phone:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.phone_no.present? ? @user.phone_country_code.to_s + @user.phone_no : "N/A" %>
                </div>
              </div>
            </div>


            <div class="row pt-4">
              <div class="col-md-3">
                <strong>Email:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.email %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>User ID:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.user_id %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>Role:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.role %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>Country:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.country_name %>
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-md-3">
                <strong>Status:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @user.status %>
                </div>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <div class="form-group mt-3 mb-0">
                  <div class="actions">
                    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn w-100 bg-clr btn-style' %>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group mt-3 mb-0">
                  <div class="actions">
                    <%= link_to 'Back', users_path, :class => 'btn w-100 bg-clr btn-style' %>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>