<div class="card mb-4">
  <div class="card-header"><i class="fas fa-table mr-1"></i>Admins</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="admindataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>User Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% AdminUser.all.each do |admin_user| %>
          <tr>
            <td><%= admin_user.username %></td>
            <td><%= admin_user.email %></td>
            <td><%= admin_user.phone rescue nil %></td>
            <td>
              <%= link_to "View", admin_user_path(admin_user), :class => "btn btn-outline-dark" %>
              <%= link_to "Edit", edit_admin_user_path(admin_user), :class => "btn btn-outline-info" %>
              <%= link_to "Delete", admin_user, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger", method: :delete%>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  var dataTable = $('#admindataTable').DataTable({
  });
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
      dataTable.destroy();
      dataTable = null;
    }
  });
});
</script>