<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="alert-dismissable cross_but" onclick="hide_error()">
        <center>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
        </center>
        </div>
        <h1 class="mt-3">Orders</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
          </div>
        </div>
        <div class="container">
          <div class="clearfix"></div>
          <ul class="nav nav-tabs">
            <li class="active" id="li_all">
              <a href="#all_orders" data-toggle="tab">All Orders</a>
            </li>
            <li id="new_order_li"><a href="#new_order" data-toggle="tab">New Orders</a>
            </li>
            <li id="under_preparation_li">
              <a href="#under_preparation_order" data-toggle="tab">Orders Under Preparation</a>
            </li>
            <li id="complete_li"><a href="#complete_order" data-toggle="tab">Completed Orders</a>
            </li>
            <li id="cancel_li"><a href="#canceled_order" data-toggle="tab">Cancelled Orders</a>
            </li>
          </ul>
          <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Orders</div>
            <div class="tab-content pt-2 ">
              <div class="tab-pane active py-3 px-3" id="all_orders">
                <div class="table-responsive">
                  <table class="table table-bordered" id="all_orders_table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @all_orders.each do |order| %>
                      <tr>
                        <td><%= order.id %></td>
                        <td><%= User.find(order.user_id).full_name rescue nil %></td>
                        <td id="row<%= order.id %>"><%= order.status.split('_').map(&:capitalize).join(' ') rescue nil %></td>
                        <td>
                          <%= link_to "View", order_path(order, :status => 'all_order'), :class => "btn btn-outline-dark" %>
                          <%= link_to 'Delete', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane py-3 px-3" id="new_order">
                <table id="new_order_table" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th> Proceed</th>
                    <th>Actions</th>
                    <th>Cancel</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @new_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status %></td>
                      <td>
                        <button class='btn btn-outline-success' id="under_pre">Proceed</button>
                      </td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to 'Delete', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                      <td>
                        <a class="btn btn-outline-info" id="new_order_cancel" onclick="cancel_new_order(this);">Cancel
                          Order</a>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane py-3 px-3" id="under_preparation_order">
                <table id="under_preparation_table" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Proceed</th>
                    <th>Actions</th>
                    <th> Cancle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @under_preparation_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td>
                        <button class='btn btn-outline-success' onclick='proceed_under_prepartion(this)'>Proceed</button>
                      </td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to 'Delete', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                      <td>
                        <a class="btn btn-outline-info" onclick="cancel_under_preparation_order(this)">Cancel Order</a>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane py-3 px-3" id="complete_order">
                <table id="completed" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @completed_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to 'Delete', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane py-3 px-3" id="canceled_order">
                <table id="canceled" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @canceled_orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td>
                        <button class='btn btn-outline-success' onclick='restore_order(<%= order.id %>)'>Restore</button>
                        <%#= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%#= link_to 'Delete', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  function hide_error(){
      $('.cross_but').hide();
  }
    $(document).ready(function () {
        $('.cross_but').hide();
        var all_order_table = $('#all_orders_table').DataTable();
        var new_order_table = $('#new_order_table').DataTable();
        var under_pre_table = $('#under_preparation_table').DataTable();
        var complete_order_table = $('#completed').DataTable();
        var cancel_order_table = $('#canceled').DataTable();
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var tab_target = $(event.target).text();
            if (tab_target === 'Table 2') {
                var table1 = $('#new_order_table').DataTable({
                    destroy: true,
                });
            } else if (tab_target === 'Table 3') {
                var table2 = $('#under_preparation_table').DataTable({
                    destroy: true,
                });
            } else if (tab_target === 'Table 4') {
                var completed_table = $('#completed').DataTable({
                    destroy: true,
                });
            } else if (tab_target === 'Table 5') {
                var canceled_table = $('#canceled').DataTable({
                    destroy: true,
                });
            }
        });
    });

    function cancel_new_order(row) {
        if (confirm("Are you sure ?")) {
            var new_order_table = $('#new_order_table').DataTable();
            var canceled_table = $('#canceled').DataTable();
            data = new_order_table.row($(row).parents('tr')).data();
            row_data =row
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    status: 'cancel'
                },
                cache: false,
                success: function (e) {
                    $('.cross_but').show();
                    $("#notice").html("Order is Canceled.");
                        // .delay(1100).fadeOut();
                    $('#' + order_id).hide();
                    data[2] = 'Canceled';
                    data[3] = "<button class='btn btn-outline-success' onclick='restore_order(this)'>Restore</button>";
                    $('#row' + order_id).text("Canceled");
                    canceled_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    }

    function cancel_under_preparation_order(row) {
        if (confirm("Are you sure 123?")) {
            var under_preparation_table = $('#under_preparation_table').DataTable();
            var canceled_table = $('#canceled').DataTable();
            data = under_preparation_table.row($(row).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    status: 'cancel'
                },
                cache: false,
                success: function (e) {
                    $('.cross_but').show();
                    $("#notice").html("Order is Canceled.");
                    under_preparation_table
                        .row($(row).parents('tr'))
                        .remove()
                        .draw();
                    data[2] = 'Canceled';
                    data[3] = "<button class='btn btn-outline-success' onclick='restore_order(this)'>Restore</button>";;
                    $('#row' + order_id).text("Canceled");
                    canceled_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    }

    $('#new_order_table tbody').on('click', 'button', function () {
        if (confirm("This order will go under preparation ok ?")) {
            var new_order_table = $('#new_order_table').DataTable();
            var under_pre_table = $('#under_preparation_table').DataTable();
            data = new_order_table.row($(this).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    order_id,
                    status: 'Under Preparation'
                },
                cache: false,
                success: function (e) {
                    $('.cross_but').show();
                    $("#notice").html("Order is Under Prepartion.");
                    $('#' + order_id).hide();
                    $('#row' + order_id).text("Under Preparation");
                    data[2] = 'Under Preparation';
                    data[3] = "<button class='btn btn-outline-success' onclick='proceed_under_prepartion(this)'>Proceed</button>"
                    data[5] = "<a class='btn btn-outline-dark' onclick='cancel_under_preparation_order(this)'>Cancel Order</a>"
                    under_pre_table.row.add(data).draw(false);

                }
            });
        }
        return false;
    });

    function proceed_under_prepartion(row) {
        if (confirm("Are you sure this order is complete ?")) {
            var under_pre_table = $('#under_preparation_table').DataTable();
            var complete_table = $('#completed').DataTable();
            data = under_pre_table.row($(row).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    order_id,
                    status: 'Completed'
                },
                cache: false,
                success: function (e) {
                    $('.cross_but').show();
                    $("#notice").html("Order is Completed.");
                    under_pre_table.row($(row).parents('tr')).remove().draw();
                    $('#' + order_id).addClass('hidden');
                    data[2] = 'Completed';
                    data[3] = data[4];
                    $('#row' + order_id).text("Completed");
                    complete_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    }




function restore_order(row_data) {
    if (confirm("Are you sure ?")) {
        var new_order_table = $('#new_order_table').DataTable();
        var canceled_table = $('#canceled').DataTable();
        data = canceled_table.row($(row_data).parents('tr')).data();
        var order_id = data[0]
        $.ajax({
            type: 'Patch',
            url: '/orders/' + order_id,
            data: {
                status: 'restore'
            },
            cache: false,
            success: function (e) {
                $('.cross_but').show();
                $("#notice").html("Order is Restored.");
                canceled_table.row($(row_data).parents('tr')).remove().draw();
                $('#' + order_id).addClass('hidden');
                data[2] = 'Paid';
                data[3] = "<button class='btn btn-outline-success' onclick='proceed_under_prepartion(this)'>Proceed</button>";
                $('#row' + order_id).text("Paid");
                new_order_table.row.add(data).draw(false);
            }
        });
    }
    return false;
}
    var status = "<%= params['status'] %>";
    if (status == "Under_preparation") {
        $('#li_all').removeClass('active');
        $('#all_orders').removeClass('active');
        $('#under_preparation_order').addClass('active');
        $('#under_preparation_li').addClass('active');
    }
    if (status == "Paid") {
        $('#li_all').removeClass('active');
        $('#all_orders').removeClass('active');
        $('#new_order').addClass('active');
        $('#new_order_li').addClass('active');
    }
    if (status == "Completed") {
        $('#li_all').removeClass('active');
        $('#all_orders').removeClass('active');
        $('#complete_order').addClass('active');
        $('#complete_li').addClass('active');
    }
    if (status == "Canceled") {
        $('#li_all').removeClass('active');
        $('#all_orders').removeClass('active');
        $('#canceled_order').addClass('active');
        $('#cancel_li').addClass('active');
    }
  if (status == "all_order") {
      $('#li_all').addClass('active');
      $('#all_orders').addClass('active');
  }

</script>