<style>
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
</style>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-3">Orders</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
          </div>
        </div>
        <div class="container">
          <div class="clearfix"></div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#all_orders" data-toggle="tab">All Orders</a>
            </li>
            <li><a href="#new_order" data-toggle="tab">New Orders</a>
            </li>
            <li><a href="#under_preparation_order" data-toggle="tab">Orders Under Preparation</a>
            </li>
            <li><a href="#complete_order" data-toggle="tab">Completed Orders</a>
            </li>
            <li><a href="#canceled_order" data-toggle="tab">Cancelled Orders</a>
            </li>
          </ul>
          <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Orders</div>
            <div class="tab-content pt-2 ">
              <div class="tab-pane active" id="all_orders">
                <div class="table-responsive">
                  <table class="table table-bordered" id="all_orders_table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @orders.each do |order| %>
                      <tr>
                        <td><%= order.id %></td>
                        <td><%= User.find(order.user_id).full_name rescue nil %></td>
                        <td><%= order.status.split('_').map(&:capitalize).join(' ') rescue nil %></td>
                        <td>
                          <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                          <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                          <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="new_order">

                <table id="new_order_table" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th> Proceed</th>
                    <th>Actions</th>
                    <th>Cancel</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @new_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status %></td>
                      <td>
                        <button class='btn btn-outline-success' id="under_pre">Proceed</button>
                      </td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                        <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                      <td>
                        <a class="btn btn-outline-dark" id="new_order_cancel" onclick="cancel_new_order(this);">Cancel Order</a>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>

                </table>
              </div>
              <div class="tab-pane" id="under_preparation_order">

                <table id="under_preparation_table" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Proceed</th>
                    <th>Actions</th>
                    <th> Cancle</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @under_preparation_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td>
                        <button class='btn btn-outline-success' id='complete'>Proceed</button>
                      </td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                        <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                      <td>
                        <a class="btn btn-outline-dark">Cancel Order</a>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>


              <div class="tab-pane" id="complete_order">

                <table id="completed" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @completed_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane" id="canceled_order">

                <table id="canceled" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @canceled_orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                        <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>

    $(document).ready(function () {
        var all_order_table = $('#all_orders_table').DataTable();
        var new_order_table = $('#new_order_table').DataTable();
        var under_pre_table = $('#under_preparation_table').DataTable();
        var complete_order_table = $('#completed').DataTable();
        var cancel_order_table = $('#canceled').DataTable();
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var tab_target = $(event.target).text();
            if (tab_target === 'Table 2') {
                var table1 = $('#new_order_table').DataTable({
                    destroy: true,

                });

            } else if (tab_target === 'Table 3') {
                var table2 = $('#under_preparation_table').DataTable({
                    destroy: true,

                });

            } else if (tab_target === 'Table 4') {
                var completed_table = $('#completed').DataTable({
                    destroy: true,

                });

            } else if (tab_target === 'Table 5') {
                var canceled_table = $('#canceled').DataTable({
                    destroy: true,

                });

            }


        });

    });

    function cancel_new_order(row) {
        if (confirm("Are you sure ?")) {
            var new_order_table = $('#new_order_table').DataTable();
            var canceled_table = $('#canceled').DataTable();
            data = new_order_table.row($(row).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    status: 'cancel'
                },
                cache: false,
                success: function (e) {
                    $('#' + order_id).hide();
                    data[2] = 'Canceled';
                    data[3] = data[4];
                    canceled_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    }

    // function cancel_under_preparation_order(row) {
    //     if (confirm("Are you sure ?")) {
    //         var new_order_table = $('#new_order_table').DataTable();
    //         var canceled_table = $('#canceled').DataTable();
    //         data = new_order_table.row($(row).parents('tr')).data();
    //         var order_id = data[0]
    //         $.ajax({
    //             type: 'Patch',
    //             url: '/orders/' + order_id,
    //             data: {
    //                 status: 'cancel'
    //             },
    //             cache: false,
    //             success: function (e) {
    //                 $('#' + order_id).hide();
    //                 data[2] = 'Canceled';
    //                 data[3] = data[4];
    //                 canceled_table.row.add(data).draw(false);
    //             }
    //         });
    //     }
    //     return false;
    // }

    $('#new_order_table tbody').on('click', 'button', function () {
        if (confirm("This order will go under preparation ok ?")) {
            var new_order_table = $('#new_order_table').DataTable();
            var under_pre_table = $('#under_preparation_table').DataTable();
            data = new_order_table.row($(this).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    order_id,
                    status: 'Under Preparation'
                },
                cache: false,
                success: function (e) {
                    $('#' + order_id).hide();
                    data[2] = 'Under Preparation';
                    data[3] = "<button class='btn btn-outline-success' id ='complete'>Proceed</button>"
                    under_pre_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    });


    $('#under_preparation_table tbody').on('click', 'button', function () {
        if (confirm("Are you sure this order is complete ?")) {
            var under_pre_table = $('#under_preparation_table').DataTable();
            var complete_table = $('#completed').DataTable();
            data = under_pre_table.row($(this).parents('tr')).data();
            var order_id = data[0]
            $.ajax({
                type: 'Patch',
                url: '/orders/' + order_id,
                data: {
                    order_id,
                    status: 'Completed'
                },
                cache: false,
                success: function (e) {
                    debugger
                    $('#' + order_id).hide();
                    data[2] = 'Completed';
                    complete_table.row.add(data).draw(false);
                }
            });
        }
        return false;
    });

</script>