<style>
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
</style>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-3">Orders</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Add New Order", new_order_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="clearfix"></div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#1" data-toggle="tab">All Orders</a>
            </li>
            <li><a href="#2" data-toggle="tab">New Orders</a>
            </li>
            <li><a href="#3" data-toggle="tab">Orders Under Preparation</a>
            </li>
            <li><a href="#4" data-toggle="tab">Completed Orders</a>
            </li>
            <li><a href="#5" data-toggle="tab">Cancelled Orders</a>
            </li>
          </ul>
          <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Orders</div>
            <div class="tab-content pt-2 ">
              <div class="tab-pane active" id="1">
                <div class="table-responsive">
                  <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th>Created At</th>
                      <th>Updated At</th>
                      <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @orders.each do |order| %>
                      <tr>
                        <td><%= order.id %></td>
                        <td><%= User.find(order.user_id).full_name rescue nil %></td>
                        <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                        <td><%= order.created_at %></td>
                        <td><%= order.updated_at %></td>
                        <td>
                          <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                          <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                          <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="2">

                <table id="example1" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @new_orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status %></td>
                      <td><%= order.created_at %></td>
                      <td><%= order.updated_at %></td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                        <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                        <button class='btn btn-outline-success' onclick="change_status(<%= order.id %>)">Proceed </button>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>

                </table>
              </div>
              <div class="tab-pane" id="3">

                <table id="example2" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @under_preparation_orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= User.find(order.user_id).full_name rescue nil %></td>
                      <td><%= order.status.split('_').map(&:capitalize).join(' ') %></td>
                      <td><%= order.created_at %></td>
                      <td><%= order.updated_at %></td>
                      <td>
                        <%= link_to "View", order_path(order), :class => "btn btn-outline-dark" %>
                        <%= link_to "Edit", edit_product_path(order), :class => "btn btn-outline-info" %>
                        <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                        <button class='btn btn-outline-success' onclick="change_status(<%= order.id %>, this)"> Complete </button>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
  function change_status(order_id){
      $.ajax({
          type: 'Patch',
          url: '/orders/'+order_id,
          data: {
          order_id
          },
          cache: false,
          success: function (e) {
              $('#' + order_id).hide();
              $('#example2').DataTable().ajax.reload();
          }
      });
  }

    $(document).ready(function () {

        var all_order_table = $('#example').DataTable();
        var new_order_table = $('#example1').DataTable();
        var under_pre_table = $('#example2').DataTable();

        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var tab_target = $(event.target).text();
            if (tab_target === 'Table 2') {
                var table1 = $('#example1').DataTable({
                    destroy: true,

                });

            } else if (tab_target === 'Table 3') {
                var table2 = $('#example2').DataTable({
                    destroy: true,

                });

            }


        });

    });
  $('#example1 tbody').on( 'click', 'tr', function () {
      var new_order_table = $('#example1').DataTable();
      data = new_order_table.row(this).data();
      var under_pre_table = $('#example2').DataTable();
      // alert(data[5]);
      under_pre_table.row.add(data).draw(false);
  } );
</script>