<%= form_with(model: product, local: true) do |form| %>
  <%#= render 'layouts/error_messages', object: form.object %>

  <div class="form-row">
      <%= form.label :name,  :class => "mb-1 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <%= form.text_field :name, :class => "form-control py-2", :required => true %>
      </div>
    </div>
  </div>

  <div class="form-row">
      <%= form.label :cost, :class => "mb-1 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <%= form.text_field :cost, :class => "form-control py-2", :required => true %>
      </div>
    </div>
  </div>

  <div class="form-row">
      <%= form.label :description, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <%= form.text_field :description, :class => "form-control py-2" %>
      </div>
    </div>
  </div>


<!--  <div class="form-row">-->
      <%#= form.label :project_status, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
<!--    <div class="value">-->
<!--      <div class="input-group">-->
<!--        <select name="project[project_status]" id="project_status" class="form-control" required>-->
<!--          <option value="<%#= @project.project_status rescue nil %>">-->
            <%#= Project.statuses.key(@project.project_status) rescue "" %>
            <%# Project.statuses.reject { |status| Project.statuses.key(@project.project_status) == status }.each do |key, value| %>
<!--            <option value="<%#= value %>">-->
              <%#= key %>
<!--            </option>-->
          <%# end %>
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= form.submit 'Save', :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= link_to "Cancel", products_path, :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

<% end %>


