<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <div id="layoutAuthentication_content">
      <main>
        <div>
          <div class="">
            <div class="col-lg-12">
              <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-clr">
                  <center>
                    <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
                  </center>
                  <div class="row">
                    <div class="col-xl-6 col-md-6">
                      <h3 class="font-weight-light my-2"><%= @project.project_name %></h3>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <h3 class=" my-2">Client
                        - <%= @project.client_company.company_name rescue "Company N/A" %></h3>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 text-center">
                        <div class="row mt-2">
                          <button class="btn top-bar-btn-clr ">
                            <div class="row">
                              <span class="ml-5"><%= @project.employees.count %></span>
                            </div>
                            <a href="/projects/<%= @project.id %>/employees">
                              <strong>Employees</strong>
                            </a>
                          </button>
                        </div>
                      </div>
                      <div class="col-md-2 text-center">
                        <div class="row mt-2">
                          <button class="btn top-bar-btn-clr ">
                            <div class="row">
                              <span class="ml-5"><%= @project.plants.count %></span>
                            </div>
                            <a href="/projects/<%= @project.id %>/plants">
                              <strong>Plant Items</strong>
                            </a>
                          </button>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <div class="row mt-2">
                          <button class="btn top-bar-btn-clr ">
                            <div class="row">
                              <span class="ml-5"><%= @project.employee_time_sheets.sum(:total_hours) rescue 0 %></span>
                            </div>
                            <strong>Labour Hours</strong>
                          </button>
                        </div>
                      </div>

                      <div class="col-md-2 ">
                        <div class="row mt-2">
                          <button class="btn top-bar-btn-clr ">
                            <div class="row">
                              <span class="ml-5"><%= @project.plant_time_sheets.sum(:total_hours) rescue 0 %></span>
                            </div>
                            <strong>Plant Hours</strong>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-body mt-2">
                  <div class="" id="nav-tab" role="tablist">

                    <div class="row">
                      <% if @project.project_companies.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Project Companies</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/project_companies", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Project Companies</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/project_companies", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.employee_types.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Employee Types</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/employee_types", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Employee Types</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/employee_types", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.plant_types.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Plant Types</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/plant_types", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Plant Types</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/plant_types", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>


                    <div class="row">
                      <% if @project.employees.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Employees</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/employees", :class => "bold-title nav-item view-detail-clr nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Employees</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/employees", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.plants.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Project Equipment</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/plants", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Project Equipment</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/plants", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                    </div>


                    <div class="row">
                      <% if @project.foremen.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Foreman</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/foremen", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Foreman</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/foremen", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.budget_holders.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Budget Holders</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/budget_holders", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Budget Holders</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/budget_holders", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.other_managers.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Other Managers</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/other_managers", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Other Managers</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/other_managers", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>

                    <div class="row">
                      <% if @project.cost_codes.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Cost Codes</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/cost_codes", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Cost Codes</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/cost_codes", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% if @project.crews.present? %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card with-setup-clr text-white mb-3">
                            <div class="card-body">Crews</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/crews", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card without-setup-clr text-white mb-3">
                            <div class="card-body">Crews</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/crews", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% employee_timesheet = true %>
                      <% employee_timesheet = false if (@project.cost_codes.blank? || @project.cost_codes.where(budget_holder_id: nil).present?) %>
                      <% employee_timesheet = false if (@project.employees.blank? || @project.employees.where(foreman_id: nil).present?) %>
                      <% employee_timesheet = true if @project.employee_time_sheets.present? %>

                      <% if (employee_timesheet == true) %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card time-sheet-setup-clr text-white mb-3">
                            <div class="card-body">Employee Time Sheet</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/employee_time_sheets", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card time-sheet-without-setup-clr text-white mb-3">
                            <div class="card-body">Employee Time Sheet</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <p>Project is Incomplete</p>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <% plant_timesheet = true %>
                      <% plant_timesheet = false if (@project.cost_codes.blank? || @project.cost_codes.where(budget_holder_id: nil).present?) %>
                      <% plant_timesheet = false if (@project.plants.blank? || @project.plants.where(foreman_id: nil).present?) %>
                      <% plant_timesheet = true if @project.plant_time_sheets.present? %>

                      <% if plant_timesheet == true %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card time-sheet-setup-clr text-white mb-3">
                            <div class="card-body">Plant Time Sheet</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <%= link_to 'View Detail', "/projects/#{@project.id}/plant_time_sheets", :class => "bold-title view-detail-clr nav-item nav-link small" %>
                              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-xl-3 col-md-6">
                          <div class="card time-sheet-without-setup-clr text-white mb-3">
                            <div class="card-body">Plant Time Sheet</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                              <p>Project is Incomplete</p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>