<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
      <p id="notice" class="alert-success notice-style"><%= notice %></p>
    <% end %>
    <div class="card card-5 form-border-style">
      <div class="card-heading bg-clr text-white">
        <h4 class="text-center font-weight-light"></h4>
      </div>
      <div class="card-body" style="padding-bottom: 0px;">

        <%= form_with(model: order_product, local: true) do |form| %>
          <% if order_product.errors.any? %>
            <%= render 'layouts/error_messages', object: form.object %>
          <% end %>

          <div class="col-md-12">
            <div class="row">

              <div class="col-md-5">
                <div class="form-row">
                  <%= form.label :Medicine, :class => "mb-1 pt-1 name", :style => 'font-weight:bold; margin-left: -12px;' %>
                  <div class="value">
                    <div class="input-group">
                      <select name="order_product[product_id]" id="product_id" class="form-control">
                        <option value="<%= @order_product.product_id %>"><%= @order_product.product.name %></option>
                        <% Product.all.reject {|product| product.id == @order_product.product_id}.each do |product| %>
                          <option value="<%= product.id %>">
                            <%= product.name %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :type, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :type, :class => "form-control py-1", :style => 'margin-left: -40px;' %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.number_field :quantity, id: 'med_quantity', :class => "form-control py-1", :required => true, min: 1 %>
                      <b><span class="errmsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :price, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :price, id: 'med_price', :class => "form-control py-1", :disabled => true, min: 1 %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12">
            <div class="row pt-4">
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :day_time, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%#= form.select :day_time, options_for_select([['Morning'], ['Noon'], ['Evening']]), {}, {class: "form-control selectpicker d_time", data: {"live-search": true}, :required => true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-row">
                  <%= form.label :dose_quantity, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.number_field :quantity, :class => "form-control py-1", id: 'dose_quantity', :required => true %>
                      <b><span class="errormsg"></span></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-row">
                  <%= form.label :comment, :class => "mb-1 pt-1 name", :style => 'font-weight:bold' %>
                  <div class="value">
                    <div class="input-group">
                      <%= form.text_field :comment, :class => "form-control py-1", id: 'comment' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 morning">
                <div class="form-row">

                  <i style="font-size:30px; color: green;" onclick="noon();" class="fa">&#xf067;</i>

                </div>
              </div>
            </div>
          </div>


          <div class="form-row m-b-55">
            <div class="name ">Medicine Date</div>
            <div class="value">
              <div class="row row-refine">
                <div class="col-5">
                  <div class="input-group-desc">
                    <%= form.text_field :start_date, :class => 'start-date form-control py-2', id: 'start-date', 'placeholder' => "dd-mm-yyyy", :required => true %>
                    <label class="label--desc">Start Date</label>
                  </div>
                </div>
                <div class="col-2 pt-3">
                  <center> To</center>
                </div>
                <div class="col-5">
                  <div class="input-group-desc">
                    <%= form.text_field :end_date, :class => 'end-date form-control py-2', id: 'end-date', 'placeholder' => "dd-mm-yyyy", :required => true %>
                    <%= form.label :end_date, :class => "label--desc" %>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <hr>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3 ml-5">
              <div class="form-group mt-3 mb-0">
                <div class="actions">
                  <button type="button" class="btn w-25 bg-clr btn-style" id="update-order-button">Update</button>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
    var medicine_price = <%= @order_product.price / @order_product.quantity %>;

    $("#product_id").change(function () {

        medicine_name = $("#product_id").val();
        $.ajax({
            type: 'GET',
            url: '/products/get_product_price',
            data: {
                medicine_id: medicine_name
            },
            success: function (data) {
                medicine_price = data['price'];
                $('#med_price').val(data['price']);
                $('#med_quantity').val(1);

            }
        });

    });

    $("#med_quantity").change(function () {
        var quantity = $('#med_quantity').val();
        var total_amount = quantity * medicine_price;
        $('#med_price').val(total_amount);
    });

    $("#update-order-button").click(function (e) {

        medicine_name = parseInt($("#product_id").val());
        medicine_quantity = parseInt($('#med_quantity').val());
        price = parseInt($('#med_price').val());
        day_time = $(".d_time option:selected").val();
        day_time_sec = $(".d_time_2nd option:selected").val();
        day_time_third = $(".d_time_3rd option:selected").val();
        dose_quantity = $('#dose_quantity').val();
        comment = $('#comment').val();

        start_date = $('#start-date').val();
        end_date = $('#end-date').val();

        order_product_object = "order_product[quantity]=" + medicine_quantity +
            "&order_product[dose_quantity]=" + dose_quantity +
            "&order_product[comment]=" + comment +
            "&order_product[start_date]=" + start_date +
            "&order_product[end_date]=" + end_date +
            "&order_product[product_id]=" + medicine_name;

        $.ajax({
            type: 'PUT',
            url: '/order_products/14',
            data: order_product_object,
            cache: false,
            success: function () {
            }
        });
    });

    $(function () {
        $('#start-date').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true
        });
        $('#end-date').datepicker({
            format: 'yyyy-mm-dd',
        });
    });


    $('select').selectpicker();

    $("#med_quantity").keydown(function (e) {
        if (e.which == 8) {
            $(".errmsg").hide();
        }
    });

    $("#med_quantity").keypress(function (e) {
        //if not numeric, then it don't let you type space=32,+=43,-=45,backsp=8,enter=13
        if (e.which == 45) {
            //display error message
            $(".errmsg").html("Value cannot be negative.").show();
            e.preventDefault();
        } else {
            $(".errmsg").hide();
        }
    });

    $("#dose_quantity").keydown(function (e) {
        if (e.which == 8) {
            $(".errormsg").hide();
        }
    });

    $("#dose_quantity").keypress(function (e) {
        //if not numeric, then it don't let you type space=32,+=43,-=45,backsp=8,enter=13
        if (e.which == 45) {
            //display error message
            $(".errormsg").html("Value cannot be negative.").show();
            e.preventDefault();
        } else {
            $(".errormsg").hide();
        }
    });

</script>