<!DOCTYPE html>
<html>
<head>
  <title>DawaAsaan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- Bootstrap -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" crossorigin="anonymous"></script>
  <link rel="icon" href="https://ambquad.com/wp-content/uploads/2020/04/Favicon-DarkBack-150x150.png" sizes="32x32">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body class="sb-nav-fixed">

<% if admin_user_signed_in? %>

  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <%#= image_tag("Logo.png", alt: 'Site Logo', class: "logo-style", size: 4*20) %>
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <div class="input-group-append">
        </div>
      </div>
    </form>
    <!-- Navbar-->
    <%= link_to "#{current_admin_user.email }", "#", :class => 'btn btn-dark', :style => 'color: white;' %>
    <div class="col-sm-2">
      <%= link_to 'Log Out', destroy_admin_user_session_path, method: "delete", :class => 'btn btn-dark', :style => 'color: white;' %>
    </div>
  </nav>

  <div id="layoutSidenav">

   <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href="/">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>
              </div>
              Dashboard
            </a>

            <a class="nav-link" href="/users">

              <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
              Customers
            </a>
            <a class="nav-link" href="/admin_users">

              <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
              Admin Users
            </a>
            <a class="nav-link" href="/products">

              <div class="sb-nav-link-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
              Medicine Inventory
            </a>
            <a class="nav-link" href="/categories">

              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
              Categories
            </a>
<!--            <a class="nav-link" href="/product_sub_categories">-->

<!--              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>-->
<!--              Prescription Requests-->
<!--            </a>-->
            <a class="nav-link" href="/orders">

              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
              Orders
            </a>
            <a class="nav-link" href="#">

              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
              Blogs
            </a>
            <a class="nav-link" href="#">

              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
              Reports
            </a>
            <a class="nav-link" href="<%= prescriptions_path %>">

              <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
              Prescription Requests
            </a>

          </div>
        </div>
      </nav>
    </div>
<% end %>
</div>

<%= yield %>
<%= render "layouts/footer" %>
</body>

</html>
<script>
    $("#sidebarToggle").on("click", function (e) {
        e.preventDefault();
        $("body").toggleClass("sb-sidenav-toggled");
    });
</script>
